body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f4f4f9;
  box-sizing: border-box;
}

/* Sidebar */
.sidebar {
  width: 80px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* Logo */

.logo {
  font-size: 30px;
  color: black;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.menu-item .active {
  color: black;
}

.menu-item a {
  text-decoration: none;
  color: #aca8a8;
  font-size: 18px;
}

.menu-item.add {
  background-color: rgba(239, 234, 234, 0.772);
  border-radius: 10px;
}

.menu-item .add:hover {
  color: black;
}

.menu-item {
  border-radius: 10px;
  padding: 18px;
  cursor: pointer;
}

.menu .menu-item:hover {
  background-color: rgba(239, 234, 234, 0.772);
}

/* Profile */
.profile {
  position: relative;
  font-size: 30px;
  cursor: pointer;
  color: #aca8a8;
}

/* Popup Menu */
/* .profile i:hover {
  color: black;
} */

.popup-menu {
  display: none;
  position: absolute;
  bottom: 0px;
  right: -170px;
  width: 190px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 100;
  padding: 10px 10px;
}

.popup-menu .popup-menu-item {
  margin: 5px;
  padding: 15px 10px;
}

.popup-menu a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.popup-menu .popup-menu-item:hover {
  background-color: #f4f4f9;
  border-radius: 10px;
}
